/public
/node_modules
.prettierignore
/.vscode
/.roo
/.kilocode
/sequiential-thinking-mcp
mcp-servers/github.com/mendableai/firecrawl-mcp-server/mcp_settings.json
mcp-servers/github.com/upstash/context7-mcp/mcp_settings.json
