{{- $lang := .Type | default "code" -}}
{{- $content := .Inner -}}

<div class="highlight">
  <div class="code-block">
    <div class="code-block__header">
      <span class="code-block__lang">{{ upper $lang }}</span>
      <button class="code-block__copybtn" onclick="copyToClipboard(this)">Copy</button>
    <script>
      function copyToClipboard(button) {
        const codeBlock = button.closest('.code-block').querySelector('code');
        if (codeBlock) {
          navigator.clipboard.writeText(codeBlock.textContent).then(() => {
            alert('Code copied to clipboard!');
          }).catch(err => {
            console.error('Failed to copy text: ', err);
          });
        }
      }
    </script>
    </div>
    <pre tabindex="0" class="chroma">
      <code class="language-{{ $lang }} hljs" data-lang="{{ $lang }}">{{- $content -}}</code>
    </pre>
  </div>
</div>