:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --base-color: #01020e;
  --base-offset-color: #eaeaea;
  --highlight-color: #00a2e8;
  --heading-color: #d3d3d3;
  --text-color: #cdcdcd;
  --gradient-color-start: #01020e;
  --gradient-color-end: #00204a;
}

body {
  background: linear-gradient(135deg, var(--gradient-color-start), var(--gradient-color-end));
  background-size: 200% 200%;
  animation: backgroundMove 15s ease infinite;
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;
}

.acrylic-background,  .intro, .content, .list-summary {
  background: rgba(15, 46, 67, 0.6); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(12px); /* Desenfoque para el efecto de cristal */
  -webkit-backdrop-filter: blur(12px); /* Compatibilidad con Safari */
  padding: 20px;
  margin-bottom: 20px;
  color: #ffffff; /* Texto claro para buena legibilidad */
}



@keyframes backgroundMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.header {
  background: rgba(6, 69, 170, 0.869); /* Fondo semitransparente */
  backdrop-filter: blur(80px); /* Desenfoque para efecto de cristal */
  -webkit-backdrop-filter: blur(80px); /* Compatibilidad con Safari */
  height: 64px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para el header */
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
}
.nav-toggle {
  display: none;
}
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 64px;
}

.nav-menu li {
  margin: auto;
  font-size: 18px;
}
.nav-menu-link:hover{
  text-decoration: none;
  color: #ffffff;
}
.active > .nav-menu-link {
  background-color: #034574;
}

/* Logo */
.header-logo {
  font-size: 30px;
  font-weight: bold;
}
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 44px;
  cursor: pointer;
  display: none;
}

.carousel-container {
  max-width: 992px;
  margin: 0 auto;
}

.carousel-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.summary {
  background: rgba(10, 10, 10, 0.6); /* Fondo semitransparente para el efecto de cristal */
  backdrop-filter: blur(10px); /* Desenfoque para el efecto de cristal */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde blanco tenue */
  border-radius: 12px;
  overflow: hidden;
  max-height: 20rem;
  min-height: 15rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.summary:hover {
  transform: scale(1.03); /* Efecto de zoom al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.summary-image{
  width: 35%;
  overflow: hidden;
  max-height: 15rem;
  min-height: 10rem;
}

.summary-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.summary-image a:hover img {
  opacity: 0.7; /* Opacidad más ligera al hacer hover */
}

.summary-content {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto; 
}

.summary-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.summary-title a {
  text-decoration: none;
  color: #ffffff;
}

.summary-title a:hover {
  color: #4ca2ff;
}

.summary-date {
  font-size: 0.9rem;
  color: #bbbbbb; /* Fecha en color más tenue */
}

.summary-description {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  color: #dcdcdc; /* Descripción en un color gris claro */
}

/* Estilos para los contenedores principales */
.content, .list-summary, .intro {
  padding: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* Estilos de código */
.unselectable {
  user-select: none;
}


pre {
  /* Color de fondo claro */
  /* Borde alrededor del bloque de código */
  padding: 15px;             /* Espaciado interior */
  overflow-x: auto;          /* Barra de desplazamiento horizontal si el código es demasiado largo */
  border-radius: 8px;        /* Esquinas redondeadas */
  margin-bottom: 20px;       /* Margen inferior para separación con otros elementos */
  white-space: pre-wrap;     /* Permite que las palabras se ajusten al ancho del contenedor */
  background-color: #00000070;
}

code {
  font-size: 0.9rem !important;
  color: #d9d9d9 !important;
  font-weight: 900;
}

a {
  overflow-wrap: break-word;
  text-decoration: none;
}

#carouselExampleCaptions{
  margin-top: 4rem;
}
.text-border {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.active>.page-link{
  z-index: 2;
}
.box-icons > a > i {
  font-size: 1.5rem;
}
.me-5 span {
  font-size: 1.5rem; /* Cambia esto al tamaño que prefieras */
  font-weight: 500;
}
.intro img {
  margin-top: 1rem;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  width: 30rem;
}

.intro {
  margin: 0 auto;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.intro .intro-image {
  padding: 0;
  order: 2;
}

.intro .intro-content {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1rem;
  margin-top: 1rem;
}
.intro .fila{
  display: flex;
  flex-wrap: wrap;
}

blockquote {
  margin: 20px 0; /* Margen arriba y abajo para separación */
  padding: 15px 20px; /* Relleno alrededor del texto */
  font-size: 18px; /* Tamaño de fuente */
  line-height: 1.3; /* Altura de línea */
  position: relative;
  color: #afafaf; /* Color del texto */
  background-color: #000000; /* Color de fondo */
  border-left: 5px solid #c8c8c8; /* Línea vertical en el lado izquierdo */
}

blockquote p {
  margin: 0; /* Elimina los márgenes del párrafo dentro del blockquote */
}

/* Estilos para el menú móvil */
@media (max-width: 768px) {
  .intro .intro-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .intro h1, .intro p {
    padding: 0.5rem 0;
    margin-bottom: 0;
  }
  .intro {
    margin-top: 2.75rem;
  }

  .intro-image{
    order: 0 !important;
    width: 100%;
  }
  .content {
    padding: 0.5rem;
  }
  .content > p{
    word-wrap: break-word;
  }
  .box-icons > a > i {
    font-size: 1rem;
  }
  .me-5 span {
    font-size: 1rem;
    font-weight: 500;
  }
  .header {
    height: 44px;
  }
  .list-summary{
    padding: 0 0.5rem;
  }
  .header-logo {
    padding: 0 8%;
    line-height: 44px;
  }
  .nav {
    width: 100%;
  }
  .nav-menu {
    background-color: #2c3e50;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 44px;
    width: 20rem;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav > ul> li > a{
    text-align: center;
  }
  
  .nav-menu > li {
    font-size: 25px;
    line-height: 60px;
    border-radius: 13px;
    margin: 0 auto;
    width: 100%;
  }
  /*mouse por arriba del menu*/
  .nav-menu-link:hover{
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
  }
  /*texto activo del menu*/
  .active > .nav-menu-link {
    background: none;
    color: black;
    font-weight: 800;
    font-size: larger;
    display: flex;
    justify-content: center; /* alineación horizontal */
    align-items: center; /* alineación vertical */
    height: 100%; /* ocupar todo el alto del contenedor */
  }
  /*Caja activa del menu*/
  .nav-menu > .active {
    width: 100%;
    border-radius: 0;
    background-color: deepskyblue;
  }
  
  .nav-toggle {
    display: block;
  }
  
  .nav-menu_visible {
    left: calc(100% - 320px);
  }
  
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  
  /* Carusel */
  .carousel-item img {
    height: 170px;
    width: 100%;
    object-fit: cover;
  }
  .summary{
    max-height: 15rem;
    min-height: 10rem;
  }
  .summary-content{
    padding: 0.4rem;
    padding-left: 0.8rem;
    overflow: hidden;
  }
  .summary-title a {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .summary-description {
    font-size: 1rem;
    margin-top: 0.4rem;
  }
  #carouselExampleCaptions{
    margin-top: 2.75rem;
  }
  .carousel-caption > p{
    font-size: smaller;
  }
  .carousel-caption > h5{
    font-size: medium;
  }
  .carousel-indicators{
    margin-bottom: 0;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
}
@media (max-width: 320px) {
  .nav-menu{
    width: 100%;
  }
  .nav-menu_visible {
    left: 0;
  }
}



/*Fin Estilos Content*/

/*Footer*/
/*redes sociales*/
@media (min-width: 992px){
  .justify-content-lg-between {
    justify-content: space-between;
  }
}

.justify-content-center {
  justify-content: center;
}
.d-flex {
  display: flex;
}

.footer-social a:hover {
  text-decoration: none;
}
.footer-social .social-icon a {
  text-decoration: none;
  margin-right: 0;
}

.social-icon i {
  font-size: 22px; /* Ajusta el tamaño de los íconos */
  color: white; /* Cambia el color de los íconos */
}
.bg-dark{
  --bs-bg-opacity: .5;
}
