{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
<div class="contenido">
  <div class="intro">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</h1>
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
  </div>
<!--Paginas que van a hacer las veces de post pero adentro tambien tienen otras paginas-->
  {{ if eq .Type "posts" }}
  {{ .Content }}
  {{ range.Pages }}
  {{ .Render "summary" }}
  {{ end }}
  {{ end }}

<!--Paginas que van a renderizar todas las paginas de tipo post y directorios, estas paginas son las listas principales-->  
  {{ if eq .Type "list" }}
  {{ $paginator := .Paginate (union (where .Site.Pages "Type" "directorio") (where .Site.Pages "Type" "posts")) }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}


</div>
{{ end }}