<div class="summary">
  <div class="summary-image">
    <a href="{{ .RelPermalink }}">
      <img class="img-fluid"
        src="{{ .Params.image | relURL }}"
        onerror="this.onerror=null; this.src='../images/no-img.png';"
        alt="Imagen de {{ .Title }}">
    </a>
  </div>
  <div class="summary-content">
    <h2 class="summary-title lh-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ if .Date }}
      <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
    {{ end }}
    {{ if .Params.description }}
      <p class="summary-description lh-sm">{{ .Params.description }}</p>
    {{ end }}
  </div>
</div>