<div class="summary">
  <!--Imagen con enlace dentro de un div-->
    <div class="summary-image">
      <a href="{{ .RelPermalink }}">
        <img class="img-fluid" src="{{ .Params.image | relURL }}" onerror="this.onerror=null; this.src='{{ "/images/no-img.png" | relURL }}';" alt="Imagen de {{ .Title }}" />
    </a>
      </a>
    </div>
  <div class="summary-content">
    <h2 class="summary-title lh-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <!-- Comprobar si la fecha está definida antes de mostrarla -->
    {{ if .Date }}
      <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
    {{ end }}
    {{ if .Params.description }}
    <p class="summary-description lh-sm">{{ .Params.description }}</p>
    {{ end }}

    <!--{{ if eq .Type "directorio" }}
    <ul class="summary-lista lh-sm">
      {{ range .RegularPages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}-->
  </div>
</div>
