/* Footer Styles */
.footer-social a:hover {
  text-decoration: none;
}

.footer-social .social-icon a {
  text-decoration: none;
  margin-right: 0;
}

.social-icon i {
  font-size: 22px;
  color: white;
}

@media (min-width: 992px) {
  .justify-content-lg-between {
    justify-content: space-between;
  }
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

@media (max-width: 768px) {
  .box-icons > a > i {
    font-size: 1rem;
  }
  
  .me-5 span {
    font-size: 1rem;
    font-weight: 500;
  }
}