:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --base-color: #01020e;
  --base-offset-color: #eaeaea;
  --highlight-color: #00a2e8;
  --heading-color: #d3d3d3;
  --text-color: #cdcdcd;
  --gradient-color-start: #01020e;
  --gradient-color-end: #00204a;
}
