{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-blog-single-post{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="fila">
    <div class="col-md-6 intro-image">
      <img class="img-fluid" src="{{ .Params.image | relURL }}" onerror="this.onerror=null; this.src='{{ "/images/no-img.png" | relURL }}';" alt="Imagen de {{ .Title }}" />
    </div>
    <div class="col-md-6 intro-content">
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </div>
  </div>
</div>
  <div class="content">
    {{ .Content }}
  </div>
{{ end }}