body {
  overflow-x: hidden;
}

.header {
  background: rgba(6, 69, 170, 0.869);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  height: 64px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 44px;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 6px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 64px;
  gap: 0.5rem;
}

.nav-menu li {
  margin: auto;
  font-size: 18px;
}

.nav-menu-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.active > .nav-menu-link {
  background-color: #034574;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 44px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .header {
    height: 44px;
  }

  .header-logo {
    padding: 0 8%;
    line-height: 44px;
  }

  .nav {
    width: 100%;
  }

  .nav-menu {
    background-color: #2c3e50;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 44px;
    width: 20rem;
    padding: 0;
    height: calc(100vh - 44px);
    overflow-y: auto;
    transition: left 0.3s;
    left: 100%;
  }

  .nav > ul > li > a {
    text-align: center;
  }

  .nav-menu > li {
    font-size: 25px;
    line-height: 60px;
    border-radius: 13px;
    margin: 0 auto;
    width: 100%;
  }

  .nav-menu-link:hover {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
  }

  .active > .nav-menu-link {
    background: none;
    color: black;
    font-weight: 800;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-menu > .active {
    width: 100%;
    border-radius: 0;
    background-color: deepskyblue;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: calc(100% - 320px);
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .nav-menu.no-transition 
  { 
    transition: none !important; 
  }
}

@media (max-width: 320px) {
  .nav-menu {
    width: 100vw;
  }
  .nav-menu_visible {
    transform: translateX(-100%);
  }
  /* Desactiva la transición mientras exista esta clase */

}
