<div class='header'>
  <nav class="nav">
    <a class="header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="nav-toggle" aria-label="Abrir menú">
      <i class="bi bi-list"></i>
    </button>
      <ul class="nav-menu">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
              <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                  <a class="nav-menu-link nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
          {{end}}
      </ul>
    </nav>
  </div>
